<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
    [% if(typeof(title)!='undefined') { %]
    <title>[%=title%]</title>
    [% } else { %]
    <title>[%=config.pretty_name%] - [%=config.subtitle%]</title>
    [% } %]
    [% if(typeof(rss_link)!='undefined'){ %]
    <link href="[%=rss_link%]" type="application/rss+xml" rel="alternate"> 
    [% } %]
    <link rel="stylesheet" href="/generic.css" /> 
    <link rel="stylesheet" href="/default.css" /> 
    <link rel="stylesheet" href="/main.css" /> 

    <script type="text/javascript" src="/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>
    <link type="text/css" href="/jquery-ui-1.8.20.custom/css/ui-lightness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />

    <script src="/jquery.flot.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '[%=config.ga_account%]']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="/utils.js"></script>
    <script src="/generic.js"></script>
    <script src="/main.js"></script>
  </head>
  <body>
    <div id="page">
      <div id="header">
	<div class="title">
	  <h1 style="color:yellow">
	    <a href="/">[%=config.pretty_name%][% if(config.server=='dev'){ %] *dev* [% } %]</a>
	  </h1>
	  <h2>
	    [%=config.subtitle%]
	  </h2>
	</div>
	<ul class="nav">
	  [% var nav = {'/match/new':'New Match'} %]
	  [% for(var i in nav){ %]
	  <li><a href="[%=i%]">[%=nav[i]%]</a></li>
	  [% } %]
	</ul>
	<div style="clear:both"></div>
      </div><!--#header-->

      <div id="content">
	[%-partial('error', {err:err})%]
	<div id="body">
	  [%-body%]
	  [% if(typeof(uptime)!='undefined'){ %]
	   [% var hour = 60*60; %]
	   <!--uptime in hours = [%=uptime/hour%]-->
	  [% } %]
	</div><!--#body-->
      </div><!--#content-->
    </div><!--page-->
    <div id="footer">
      <a href="https://github.com/RobKohr/foosratings.com">Source Code</a>
    </div>
  </body>
</html>

