.note{
    font-size:0.7em;
    font-color:#333333;
    padding-left:1em;
}

.input_row{
    margin-top:1em;
}
body{

}

#header h1{
    font-size:1.1em;
    margin-bottom:0px;
    padding-left:10px;
}
#header h1 a{
    text-decoration:none;
    color:black;
}
#header h2{
    font-size:0.8em;
    margin:0px;
    padding-left:10px;
    font-style: italic; 
    padding-bottom:4px;
}

h3{
    margin:0px;
    padding:0px;
}


body{
    margin:0px;
}

#header{
    width:100%;    
    background: #aaddaa; /* Old browsers */
}



a{
    text-decoration:none;
    color:#0000ff;
}

.close{
    position:absolute;
    top:.5px;
    right:.5px;
    font-size:0.8em;
    color:white;
    background:gray;
    border:2px outset gray;
    width:14px;
    height:14px;
    text-align:center;
    margin:2px;
}

a:visited{
    color:#8888ff;
}

#header .title{
    float:left;
}

.nav li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    width:10em;
    text-align:center;
    padding-left:1em;
}

#header .nav{
    float:right;
}

#header .nav li{
    font-size:1.3em;
}

.nav li:hover{
    background:#aaaaaa;
}

.nav li a{
    text-decoration:none;
}

.nav li a.active{
    border-bottom:3px solid black;
}

#body{
    padding:1em;    
}


#page{
    width:100%;
    margin: auto;
    margin-top:0px;
}

#content{
    width:100%;
    position:relative;
}

.input_container{
    margin:2px;
}

.breadcrumbs{
    padding-left:1em;
}

a[href^="http://"] {
    background: url(/images/external.png) center right no-repeat;
    padding-right: 13px;
}
.input_container, .input_row{
    width:100%;
}

input {
    font-size: 1.4em;
    border-radius:4px;
    width:100%;
}

#footer{
    clear:both;
    padding:1em;
    font-size:80%;
    border-top:1px solid #aaaaaa;
}