body{
 font-family:sans-serif;
}
#about{
    padding:.5em;
    padding-left:1em;
    padding-right:1em;

    margin-top:0px;
    position:relative;
    top:-20px;
}


.category_link{
    display: inline-block;
    padding: 2px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 3px;
    text-shadow: 0 1px 1px white;
    color: black;
    font: bold 10px sans-serif;
    vertical-align: middle;
    background:aaf;
}
a.category_link{
    color:black;
}


body{
    background:url('/images/noise.gif');
}

#body{
    background:white;
}


.show, .close{
    cursor:pointer;
}

.add_coins_pop{
    border:1px solid #aaaaaa;
    background:white;
    opacity: 0.95;
    padding-left:1em;
    padding-right:1em;
    z-index:100;
    position:absolute;
    top:0px;
    left:70px;
    display:none;
}

.node_list li{
    position:relative;
    list-style-type:none;
    clear:both;
}

.node_list a.title:visited{
    color:#4444ff;
}
.node_info a.title{
    font-size:1.7em;
}

.node_list .node_info{
    padding:20px;
}

.node_sub_info{
    font-size:.8em;
    
}
.vote_box{
    margin:10px;
    float:left;
    width:80px;
    text-align:center;
    position:relative;
}
.vote_box .coins{
    background:yellow;

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border:1px solid #aaaaaa;
    padding-left:20px;
    padding-right:20px;
    border-bottom:0px;
    font-size:0.8em;
}
.vote_box .add_coins{
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    padding:.25em;
    border:2px solid #dddddd;

    border-style:outset;
}


table{
    color:black;
}

#submit_types div{
    float:left;
    text-align:center;
    padding:40px;
    border:1px solid #aaaaaa;
    margin:20px;
    border-radius:15px;
    position:relative;
}
#submit_types div span{
}
#submit_types div img{
    position:absolute;
    top:0px;
    right:0px;
    padding:5px;
}

#submit_form{
    display:none;
    clear:both;
}



.gradient_button{
/* http://ie.microsoft.com/testdrive/Graphics/CSSGradientBackgroundMaker/Default.html  */
/* IE10 */ 
background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #8FFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #8FFFFF 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #8FFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 559, color-stop(0, #FFFFFF), color-stop(1, #8FFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #8FFFFF 100%);

/* Proposed W3C Markup */ 
background-image: radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #8FFFFF 100%);
}

.error{
    padding:1em;
    border:#ff0000 2px solid;
    background:#ffaaaa;
}

.error li{
    list-style-type:none;
}

.reload_btc{
    position:absolute;
    top:3px;
    left:3px;
    opacity:0.5;
    z-index:5;
}